body {
    /* Location of the image */
    background-image: url(/images/static/back.jpg);

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;

    margin-bottom: 90px;

    font-size: 16px;
    line-height: 22px;
}
/* Title of page */
.section-top{
    text-align: center;
}

.section-top h1{
    font-family: 'Baloo', cursive;
}

.tasks .tasks-title{
    background-color: #140098;
    border: 1px solid black;
    color: white;
    margin: 5px 0;
}


.tasks .tasks-item{
    background-color: #00cfe8;
    border: 1px solid black;
    margin: 5px 0;
}

.tasks .tasks-item:hover{
    background-color: #a94442;
}

.high-priority{
    font-weight: bold;
}

.detail-task div {
    min-height: 30px;
}

.detail-task .detail-task-title {
    cursor: pointer;
}

.detail-task textarea {
    width: 100%;
}
